<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script>
    angular.module('app', [])

    // .controller('Ctrl', function($scope, $http) {
    //   $http.get('cats.json').success(function(imgs) {
    //     $scope.imgs = imgs.sort(function() {
    //       return 0.5 - Math.random()
    //     })
    //   })
    // })
    </script>
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?9012d6e4790db334fc2e463c3d665824";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
  </body>

</html>
